<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title>My first Vue app</title>
		<meta charset="utf-8">
		<!--script src="https://unpkg.com/vue"></script-->
		<script src="https://unpkg.com/vue@2.6.6/dist/vue.js"></script>
	</head>
<body>
  <div id="app">
	  {{show}}
<!--双向绑定-->
	  <input type="text" v-model="show">
<!--双向绑定,启用lazy修饰符，当控件输入后失去焦点时更新才生效-->
	  <input type="text" v-model.lazy="show">
  </div>

  <script>
	  var app = new Vue({
		  el: '#app',
		  data: {
			  show:"222",
		  },
		  methods:{
			  input:function(event){ 
			  }
		  }
	  });
  </script>
</body>
</html>
