<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Vue element component</title>
		<script src="https://unpkg.com/vue@2.6.6/dist/vue.js"></script>
	</head>
	<body>
	<div id="app">
		<!--此处只有第一个demo会被template匹配并渲染
			new Vue({ el: ,......)都只匹配一次
		-->
		<div class="demo"></div>
		<div class="demo"></div>
	</div>
	<script>
	//此处采用template模式，不用在上文写类似的{{msg}},而是采用js填模板
	new Vue({
		//'.demo'选中2级节点demo（只能选中第一个,'.'根据class选中）
		//'#app'选中1级节点app（'#'根据id选中）
		//'div'选中标签div（只能选中第一个,'无符号则根据标签选中）
		el: '.demo',
		/*es6字符串``相比""和''，有两个优点：
			1.可以随意换行而无需反斜杠拼接
			2.编辑器会对字符串内容进行解析（支持补全、染色）
				而传统的单双引号字符串无法补全，会被统一染一种颜色
		*/
		template:`<div>{{msg}}</div>`, 
		data:{
			msg:"hello world"
		}
	})
	</script>

	<div id="app2">
		<!--此处2个component都会被渲染
			Vue.compent会匹配渲染Vue实例内所有的匹配组件
		-->
		<my-test></my-test>
		<my-test></my-test>
	</div>
	<script>
		//此处演示模板组件化与组件绑定
		//template最外层最好都带<div> 不带div则有可能显示不完整
		Vue.component('my-test', {
			template: `
			<div>
				<h1>
					{{msg}}
				</h1>
				<button @click="counter">{{count}}</button>
			</div>
			`,
			//template的data必须写函数return对象，不同于new Vue的data
			//如果return一个全局对象，则同类组件会共享此对象
			//如果经常需要跨组件传值，请用vuex而非大量使用全局变量
			//此处由于此处reurn并非全局对象，而是新建的，不会被共享
			data:function(){
				return{
					msg:"自定义组件!",
					count:0,
				}
			},
			//响应事件函数写于此处，按钮的v-on:click等
			methods:{
				counter:function(){
					this.count++;
				}
			}
		})
		// 创建根实例,此处的el依然只能匹配一个标签，但其成员都会被渲染
		new Vue({
		  el: '#app2'
		})
	</script>
	</body>
</html>
