<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>filter examples</title>
		<script src="https://unpkg.com/vue@2.6.6/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<!--此处过滤器可以多个拼接-->
			{{msg|upperCase}}
			<br/>
			{{msg|upperCase_firstWord(true)}}
		</div>
	<script>
		new Vue({
			el: '#app',
			data: {
				msg:"hello world",
			},
			methods:{
			},
			filters:{
				upperCase:function(val){
					return val.toString().toUpperCase();
				},
				/*
				参考上文：{{msg|upperCase_firstWord(true)}}
				第一个参数传入msg，第二个参数传入true
				*/
				upperCase_firstWord:function(val,isFirstWord){
					val = val.toString();
					if(isFirstWord)
					{
						return val.charAt(0).toUpperCase()+val.slice(1);
					}
					return val.toUpperCase();
				}
			}
		})
	</script>
	</body>
</html>
