<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>style bind examples</title>
		<script src="https://unpkg.com/vue@2.6.6/dist/vue.js"></script>
		<style>
			.shape{
				height:70px;
				width:70px;
				float:left;
				margin:10px;
			}
			.circle{
				background:red;
				border-radius:50%;
			}
			.square{
				background-color:blue;
			}
		</style>
	</head>
	<body>
		<div id="app">
		<!--采用一个shape图形，shape，square两种样式并用-->
			<div class = "shape square"></div>
		<!--生成两个shape图形，圆形按circle，非圆按square-->
			<div v-for= "shape in shapes" class="shape"
			 v-bind:class=
			 "{circle:shape.isRound,square:!shape.isRound}">
			</div>
		<!--同上div生成两个shape,但不采用隐藏式绑定，而是用名称绑定-->
			<div v-for= "shape in shapes2" class="shape"
			 v-bind:class= "[shape.type]">
			</div>
		</div>
	<script>
		new Vue({
			el: '#app',
			data: {
				shapes:[
					{isRound:true},
					{isRound:false}
				],
				shapes2:[
					{type:'circle'},
					{type:'square'}
				]
			},
			methods:{
			},
			filters:{
			}
		})
	</script>
	</body>
</html>
