<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title>My first Vue app</title>
		<meta charset="utf-8">
		<!--script src="https://unpkg.com/vue"></script-->
		<script src="https://unpkg.com/vue@2.6.6/dist/vue.js"></script>
	</head>
<body>
  <div id="app">
    {{ message }}
    <!-- "v-on:click" equal to "@click",后面跟表达式（包括函数） -->
    <button v-on:click = "add_counter($event)" style = "font-size:25px;">点我</button>
	<!--a href="www.baidu.com">baidu</a-->
	<!--vue指令语法： v-指令名:指令参数=指令表达式-->
	<a v-bind:href="url" >
		baidu(可跳转)
	</a>
	<br>
	<a v-bind:href="url" v-on:click.prevent="">
		baidu（vue修饰符prevent:阻止默认事件,不可跳转）
	</a>
  </div>

  <script>
	  //vue指令语法： v-指令名:指令参数=指令表达式
	  var app = new Vue({
		//"el:节点"，选择节点的三种方式：
		//'#app'选中第一个匹配节点,id为app（'#'根据id选中）
		//'.demo'选中第一个匹配节点,（'.'根据class选中）
		//'div'选中第一个匹配节点,（'无符号则根据标签选中）
		  el: '#app',
		  data: {
			  message: 'Hello Vue!',
			  counter:1,
			  url:"https://www.baidu.com",
		  },
		  methods:{
			  add_counter:function(e){
				  this.counter++;
				  console.log(e);
			  },
			  print_msg:function(){ 
				  console.log(this.message);
			  }
		  }
	  })
	  app.$watch('counter', function(nval, oval) {
			alert('计数器值的变化 :' + oval + ' 变为 ' + nval + '!');
			app.print_msg();
	  });
  </script>
</body>
</html>
