<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
		<script src="https://unpkg.com/vue@2.6.6/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<ol>
				<li v-for="(site,i) in sites">
					<td>{{ site.name }}</td>
					<td>{{ site.age}}</td>
					<td>{{ i }}</td>
				</li>
			</ol>
			<button v-on:click="change_age">click</button>
		</div>

	<script>
		new Vue({
			el: '#app',
			data: {
				sites: [
					{ name: 'Runoob' ,age:18},
					{ name: 'Google' ,age:19},
					{ name: 'Taobao' ,age:20}
				]
			},
			methods:{
				change_age:function(){
/*Vue.set除赋值外，还会动态渲染,具有实时改显示效果*/
/*而普通赋值改变数组成员时，只要数组空间没重置，Vue就无法自动检测*/
					Vue.set(this.sites,0,{name:'aa',age:3});
				} }
		})
	</script>
	<!--对象成员循环读取-->
	<div id="app2">
	  <ul>
		<li v-for="value in object">
		{{ value }}
		</li>
	  </ul>
	</div>

	<script>
	new Vue({
	  el: '#app2',
	  data: {
		object: {
		  name: '菜鸟教程',
		  url: 'http://www.runoob.com',
		  slogan: '学的不仅是技术，更是梦想！'
		}
	  }
	})
	</script>
	</body>
</html>
