body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

p {
    margin: 0;
    letter-spacing: 1px;
    color: #777777;
}

ul {
    margin: 0;
    padding: 0;
    color: #777777;
}

p,
ul,
ol {
    font-size: 14px;
    letter-spacing: 1px;
}

.background-video {
    position: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 100%;
}

input[type="submit"],
a,
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}

/*-- banner --*/

.center-container {
    padding: 2em 0 48em;
    background: rgba(0, 0, 0, 0.44);
}

.w3_agile_header_left {
    float: left;
}

.agile_header_right {
    float: right;
    margin-top: .7em;
}

.agile_header_right ul li {
    display: block;
    font-weight: 600;
    color: #fff;
    display: inline-block;
}

.agile_header_right ul li i {
    padding-right: 1.5em;
    color: #0accff;
}

.agile_header_right ul li a {
    color: #fff;
    text-decoration: none;
}

.agile_header_right ul li a:hover {
    color: #0accff;
}

.agile_header_right ul li a:before,
.agile_header_right ul li a:after {
    display: none;
}

.agile_header_right ul li:last-child {
    margin-left: 3em;
}

.w3_agileits_logo {
    float: left;
}

.w3_agileits_logo h1 a {
    font-size: 1.2em;
    color: #fff;
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}

.w3_agileits_logo h1 a span {
    display: block;
    font-size: .3em;
    font-weight: 600;
    color: #0accff;
    position: relative;
    letter-spacing: 3px;
}

.agileits_w3layouts_banner_info {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.agileits_w3layouts_banner_info h2 {
    font-size: 2em;
    color: #fff;
    text-transform: capitalize;
    line-height: 2em;
}

.agileits_w3layouts_banner_info p {
    color: #fff;
    line-height: 2em;
    margin: 0 0 5em;
}

ul.top_agile_info_ad {
    width: 42%;
    margin: 1.4% auto 0;
    float: right;
}

ul.top_agile_info_ad li {
    list-style: none;
    display: inline-block;
    width: 50%;
    float: left;
    letter-spacing: 1px;
}

.w3l_header_contact_details_agile {
    float: right;
    width: 78%;
    text-align: left;
}

.w3_agileits_logo h1 a span {
    font-size: 12px;
    text-align: center;
    color: #ffb500;
}

.header_contact_details_agile i {
    color: #fff;
    width: 20%;
    float: left;
    text-align: center;
    margin-top: 13px;
    font-size: 1.5em;
}

.header-contact-detail-title {
    color: #7aba1e;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 7px;
}

a.w3l_header_contact_details_agile-info_inner,
.w3l_header_contact_details_agile a {
    font-size: 1em;
    color: #fff;
    text-align: left;
    letter-spacing: 1px;
}


/*-- nav --*/

.agileits_w3layouts_banner_nav {
    margin: 0 auto;
    width: 90%;
}


/*-- nav --*/

.navbar-default {
    background: none;
    border: none;
}

.navbar {
    margin-bottom: 0;
}

.navbar-collapse {
    padding: 0;
}

.navbar-right {
    margin-right: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #000;
    background: #ffb500;
    position: relative;
}

.navbar-default .navbar-nav>.active>a:before {
    background: none;
}

.navbar-default .navbar-nav>li>a {
    font-weight: 400;
    letter-spacing: 2px;
}

.navbar-nav>li>a {
    padding: 10px 18px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    background: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #000;
    background: #ffb500;
    position: relative;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #000;
    outline: none;
}

nav.navbar.navbar-default {
    background: none;
    padding: 1.4em 0 0.7em 0;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #262c38;
    background: none;
}

.navbar-default .navbar-nav>li>a {
    color: #222;
}

.navbar-default .navbar-nav>.active.open>a:focus {
    background: transparent;
    color: #111;
}

a.navbar-brand {
    padding: 0;
    font-size: 1em;
    font-weight: 300;
    line-height: 37px;
    letter-spacing: 1px;
}

.navbar-default .navbar-brand {
    color: #181819;
}

.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
    padding: 0;
    border: none;
}

.agile_short_dropdown li a {
    text-transform: uppercase;
    color: #212121;
    font-size: 13px;
    font-weight: 600;
    padding: .8em 0;
    border-bottom: 1px solid #ececef;
}

.agile_short_dropdown>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ffb500;
    position: relative;
}


/*-- /slider --*/


/* Ripple In */

@-webkit-keyframes hvr-ripple-in {
    100% {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
    }
}

@keyframes hvr-ripple-in {
    100% {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
    }
}

.hvr-ripple-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
}

.hvr-ripple-in:before {
    content: '';
    position: absolute;
    border: #f7b106 solid 4px;
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.hvr-ripple-in:hover:before,
.hvr-ripple-in:focus:before,
.hvr-ripple-in:active:before {
    -webkit-animation-name: hvr-ripple-in;
    animation-name: hvr-ripple-in;
}

.nav>li {
    position: relative;
    display: block;
    margin: 0em 0.7em;
}

.navbar-brand span {
    color: #ffb500;
    font-weight: 800;
    padding: 1px 10px;
    border: 3px solid #ffb500;
}


/*-- //menu --*/



/*--- slider-css --*/
.agile_banner_text_info h3 {
    font-size: 8em;
    letter-spacing: 16px;
    line-height: 0.5em;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.57);
    color: #fff;
}

.agile_banner_text_info h3 span {
    font-weight: 700;
    display: block;
    letter-spacing: 3px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.57);
    color: #ffb500;
}

.agile_banner_text_info label {
    font-weight: 700;
    display: block;
    letter-spacing: 5px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.57);
    text-align: right;
    color: #ffb500;
}
.agile_banner_text_info {
    position: absolute;
    z-index: 999;
    top: 33%;
    left: 28%;
}
.slider {
    position: relative;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

.rslides_tabs {
    z-index: 999;
    padding: 0.3em 5em;
    margin-top: 6px;
	text-align: center;
}

.rslides_tabs li {
    display: inline-block;
    margin: 0 2px;
    list-style: none;
}

.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
    color: #fff;
    font-weight: bold;
}

#slider3-pager a {
    display: inline-block;
}

#slider3-pager img {
    float: left;
    display: block;
}

.rslides_tabs a {
    border-bottom: 4px solid #ddd;
}

#slider3-pager .rslides_here a {
    background: transparent;
    border-bottom: 4px solid #ffb500;
}

a.rslides_nav.rslides1_nav.prev {
    position: absolute;
    left: 0%;
    color: #fff;
    top: 36%;
    z-index: 9999;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

a.rslides_nav.rslides1_nav.next {
    right: 0%;
    position: absolute;
    color: #fff;
    top: 36%;
    z-index: 9999;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}


/*-- responsive-mediaqueries --*/

@media (max-width:1440px) {
    .rslides_tabs li {
        display: inline-block;
        margin: 0 4px;
        width: 8%;
    }
    #slider3-pager img {
        float: left;
        display: block;
        width: 100%;
    }
}

@media (max-width:1366px) {
    .rslides_tabs li {
        display: inline-block;
        margin: 0 4px;
        width: 8%;
    }
}

@media (max-width:1080px) {
    .rslides_tabs li {
        display: inline-block;
        margin: 0 2px;
        width: 8%;
    }
}

@media (max-width:900px) {
    .rslides_tabs li {
        display: inline-block;
        margin: 0 1px;
        width: 8%;
    }
}

@media (max-width:768px) {
    .rslides_tabs a {
        border-bottom: 2px solid #ddd;
    }
    #slider3-pager .rslides_here a {
        background: transparent;
        border-bottom: 2px solid #ffb500;
    }
}

@media (max-width:667px) {
    .rslides_tabs li {
        display: inline-block;
        margin: 0 1px;
        width: 8%;
    }
    .rslides_tabs {
        z-index: 999;
        padding: 0.3em 1em;
        margin-top: 6px;
    }
    a.rslides_nav.rslides1_nav.prev,
    a.rslides_nav.rslides1_nav.next {
        font-size: 0.9em;
    }
    .agile_banner_text_info {
        top: 32%;
        left: 30%;
    }
}

@media (max-width:600px) {
    .rslides_tabs li {
        display: inline-block;
        margin: 0 1px;
        width: 8%;
    }
    .rslides_tabs {
        padding: 0.2em 0.5em;
        margin-top: 4px;
    }
    .agile_banner_text_info {
        top: 30%;
        left: 28%;
    }
}

@media (max-width:568px) {
    .rslides_tabs li {
        display: inline-block;
        margin: 0 0px;
        width: 8%;
    }
    .rslides_tabs {
        padding: 0.2em 1.6em;
        margin-top: 4px;
    }
}

@media (max-width:414px) {
    .rslides_tabs {
        padding: 0.2em 0.3em;
        margin-top: 4px;
    }
}

@media (max-width:384px) {
    .rslides_tabs {
        padding: 0.2em 1.6em;
        margin-top: 4px;
    }
    .rslides_tabs li {
        display: inline-block;
        margin: 0 1px;
        width: 7%;
    }
    a.rslides_nav.rslides1_nav.prev,
    a.rslides_nav.rslides1_nav.next {
        font-size: 0.7em;
        top: 64%;
    }
}

@media (max-width:320px) {
    .rslides_tabs li {
        display: inline-block;
        margin: 0 0px;
        width: 7%;
    }
}

/*-- //slider-css --*/

/*-- banner-bottom --*/

.banner-bottom {
    padding: 7em 0;
}

.wthree_banner_bottom_grid_right h4 {
    font-size: 1.4em;
    margin-bottom: .7em;
    letter-spacing: 1px;
    font-weight: 600;
    color: #222222;
}

.wthree_banner_bottom_grid_right p {
    line-height: 2em;
}

.agile_banner_bottom_grid_left_grid {
    width: 60px;
    height: 60px;
    text-align: center;
}

.agile_banner_bottom_grid_left_grid i {
    font-size: 2em;
    color: #fcb314;
    line-height: 2.2em;
}


/* Radial Out */

.hvr-radial-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
    background: transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fcb314;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-radial-out:hover,
.hvr-radial-out:focus,
.hvr-radial-out:active {
    color: white;
}

.hvr-radial-out:hover:before,
.hvr-radial-out:focus:before,
.agileits_banner_bottom_left:hover .hvr-radial-out:before,
.agileits_banner_bottom_left1:hover .hvr-radial-out:before,
.agileits_banner_bottom_left2:hover .hvr-radial-out:before,
.w3_agile_services_grid:hover .hvr-radial-out:before,
.w3_agileits_services_bottom_grid:hover .hvr-radial-out:before,
.w3layouts_mail_grid_left:hover .hvr-radial-out:before {
    -webkit-transform: scale(2);
    transform: scale(2);
}

.w3_agileits_banner_bottom_pos_grid:hover i {
    color: #111;
}


/*-- //banner-bottom --*/


/*-- //banner --*/

.wthree_head_section h2 {
    font-size: 3.3em;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1.2em;
    font-weight: 800;
}

.about h4 {
    font-size: 2em;
    margin: 1em 0 0.5em 0;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
}

.about_agileinfo h3 {
    text-align: left;
    margin-top: 2em;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 0;
    color: #303030;
}

.about_agileinfo p {
    font-size: 14px;
    line-height: 2em;
    margin-top: 1em;
    color: #9da0af;
    letter-spacing: 1px;
}

.services,
.team,
.contact-w3layouts,
.agile_testimonials {
    padding: 7em 0;
}

#welcome {
    background: #0b0c11;
    padding: 7em 0;
}

.wthree_head_section {
    text-align: left;
}

.w3l_header {
    font-size: 3em;
    color: #262c38;
    letter-spacing: 1px;
    position: relative;
    font-weight: 700;
    text-align: center;
}

h3.w3l_header.w3_agileits_header.two {
    color: #fff;
}

.w3l_header span {
    color: #545151;
    font-weight: 200;
}

h3.w3l_header.w3_agileits_header.two span {
    color: #fff;
}

.w3l_header:after {
    border-top: 2px solid #ffb500;
    display: block;
    width: 81px;
    content: "";
    margin: 8px auto 0;
}

h3.agile_tittle i {
    font-size: 0.8em;
    margin-bottom: 6px;
}

h3.agile_tittle span {
    font-weight: 600;
    letter-spacing: 4px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-size: 18px;
}

.agile_wthree_inner_grids {
    margin-top: 4em;
}

.agileits-button.two a,
.agileits-button a {
    padding: 0.8em 0em;
    color: #0b0c11;
    font-size: 1em;
    letter-spacing: 1px;
    background: none;
    border: none;
    border-radius: 0;
    margin-top: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
}

.agileits-button.two a:hover,
.agileits-button a:hover {
    box-shadow: none;
}

.about_agileinfo {
    padding: 0;
}

.about_agileinfo_grid_imgs img {
    width: 100%;
}

.about_agileinfo_grid_imgs img:nth-child(2) {
    margin-top: 1em;
}


/* Underline From Left */

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #ffb500;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
    right: 0;
}


/*-- //about --*/


/*-- /modal-info--*/

.modal-info h4 {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    margin: 0.5em 0 0.5em 0;
    color: #000;
}

.modal-info h5 {
    font-size: 1.4em;
    font-weight: 600;
    margin: 0.5em 0 0.5em 0;
    color: #00acee;
}


/*-- //modal-info--*/


/*-- stats --*/

.w3layouts_stats_left {
    text-align: center;
}

.w3layouts_stats_left p {
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 2px;
    color: #ffffff;
    margin: 0.1em 0 0.1em 0;
}

.w3layouts_stats_left h3 {
    font-size: 1em;
    color: #062d20;
    letter-spacing: 3px;
    margin: 0;
    font-weight: 600;
}

.w3layouts_stats_left i {
    font-size: 2.5em;
    color: #fff;
}

.w3l_stats_bottom_grid_left img {
    margin: 0 auto;
}

.stats {
    text-align: center;
    background: #ffb500;
    padding: 4em 0;
}

.agile_inner_info_stats {
    margin-top: 2em;
}


/*-- //stats --*/


/*-- /skills --*/

.bargrids-left {
    margin-right: 40px;
}

.bar-grids h4 {
    font-size: 1.6em;
    color: #ffffff;
    letter-spacing: 1px;
    margin-bottom: 1.4em;
    /* border-bottom: 1px dashed #ffffff; */
    padding-bottom: 0em;
    font-weight: 600;
}

.bar-grids h4 span.glyphicon {
    margin-right: 0.8em;
    color: #ecb731;
}

.progress {
    height: 35px;
    margin-bottom: 2.2em;
    background-color: #dadde0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.prgs-w3agile-last {
    margin-bottom: 0!important;
}

.progress-bar {
    background-color: #0c0c0c;
}

.bar-grids h6 {
    font-size: 1em;
    color: #7d7d7c;
    margin-bottom: 0.6em;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 2px;
}

.bar-grids h6 span {
    float: right;
    font-size: 1em;
}

.progress-striped .progress-bar,
.progress-bar-striped {
    background-image: none!important;
}


/*-- //skills --*/

.skills {
    background: url(../images/banner1.jpg)no-repeat 0px 0px;
    background-size: cover;
    padding: 0;
    min-height: 700px;
}

h3.agile_tittle.two {
    color: #252525;
}

.bar-grids.w3-agile {
    padding: 8em 5em;
}

.wthree_skills {
    margin-top: 4em;
}


/*-- //skills --*/


/*-- services --*/

.services {
    background: #0b0c11;
}

h4.sub_service_agileits {
    color: #fff;
}

.agileits-button.two.service a {
    color: #fff;
}

.agileits_banner_bottom_left.two {
    margin-top: 3em;
}


/*-- //services --*/


/*-- portfolio section --*/

.agile_inner_info {
    margin-top: 3em;
}

p.sub_cap {
    text-align: center;
    text-shadow: 1px 1px 2px rgba(154, 153, 153, 0.37);
}

.portfolio-agileinfo h3.text-center {
    font-size: 40px;
    font-weight: normal;
    color: #000;
    padding-bottom: 50px;
}

.portfolio-agileinfo .portfolio-grids a {
    display: block;
    overflow: hidden;
    position: relative;
}

.portfolio-agileinfo .portfolio-grids img.img-responsive {
    width: 100%;
}

.portfolio-agileinfo .b-wrapper {
    background: rgba(253, 43, 48, 0.74);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    padding: 6.5em 0 0 0;
    transition: .5s all;
    text-align: center;
    display: none;
}

.portfolio-agileinfo .b-wrapper.two {
    padding: 15.5em 0 0 0;
}

.portfolio-agileinfo .portfolio-grids a:hover .b-wrapper {
    bottom: 0%;
}

.portfolio-agileinfo i {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 2em;
    border: 1px solid rgba(255, 255, 255, 0.58);
    padding: 10px;
}

.portfolio-agileinfo .b-wrapper h5 {
    font-size: 25px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    padding: 14px 0;
}

.portfolio-agileinfo .b-wrapper p {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    line-height: 1.8em;
    text-align: center;
}

.portfolio-agileinfo .gallery-grids {
    margin: 0;
}

.portfolio-agileinfo h3 {
    color: #000;
}

.portfolio-grids {
    padding: 0;
}

.portfolio-grids_left {
    padding: 0;
}

.portfolio-grids img {
    width: 100%;
}

.portfolio-grid_left {
    padding: 0;
}

#portfolio {
    padding-top: 7em;
}


/*-- /portfolio section --*/


/*-- /contact --*/

.contact_img_agile {
    background: url(../images/contact.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 410px;
}

.contact-form.agile_inner_grids {
    padding: 5em 0em 0 0;
}

.contact-form h4 {
    font-size: 2.1em;
    color: #262c38;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    font-weight: 800;
    margin: 0 0 2em 0;
    text-align: center;
}

.contact-form h4:after {
    border-top: 2px solid #efb312;
    display: block;
    width: 81px;
    content: "";
    margin: 8px auto 0;
}

.contact-form h4 span {
    color: #ffb500;
}

.styled-input.agile-styled-input-top {
    margin-top: 0;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    font-size: 1em;
    color: #26272b;
    padding: 1em 1em;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #b9b9b9;
    background: none;
    -webkit-appearance: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

.contact-form textarea {
    min-height: 150px;
    resize: none;
}

.contact-form.agile_inner_grids form {
    margin-top: 4em;
}


/*-- input-effect --*/

.styled-input input:focus~label,
.styled-input input:valid~label,
.styled-input textarea:focus~label,
.styled-input textarea:valid~label {
    font-size: .9em;
    color: #ffb500;
    top: -1.3em;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    -o-transition: all 0.125s;
    -ms-transition: all 0.125s;
    transition: all 0.125s;
}

.styled-input {
    width: 100%;
    margin: 2em 0 2em 0em;
    position: relative;
}

.textarea-grid {
    float: none !important;
    width: 100% !important;
    margin-left: 0 !important;
}

.styled-input label {
    padding: 0.5em 0em;
    position: absolute;
    top: 0;
    color: #2c2c2d;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
    font-weight: 600;
    font-size: 1em;
    display: block;
    line-height: 1em;
    letter-spacing: 2px;
}

.styled-input input~span,
.styled-input textarea~span {
    display: block;
    width: 0;
    height: 2px;
    background: #ffb500;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    transition: all 0.125s;
}

.styled-input textarea~span {
    bottom: 5px;
}

.styled-input input:focus.styled-input textarea:focus {
    outline: 0;
}

.styled-input input:focus~span,
.styled-input textarea:focus~span {
    width: 100%;
    -webkit-transition: all 0.075s;
    -moz-transition: all 0.075s;
    transition: all 0.075s;
}


/*-- //input-effect --*/

.contact-form input[type="submit"] {
    outline: none;
    color: #FFFFFF;
    padding: .8em 3em;
    font-size: 1.1em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #ffb500;
    border: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.contact-form input[type="submit"]:hover {
    background: #111;
}

.map iframe {
    width: 100%;
    min-height: 400px;
    border: none;
    padding: 2em;
}

#contact {
    background: #f4f4f4;
}


/*-- //contact--*/

.test-grid i {
    width: 50px;
    height: 50px;
    line-height: 46px;
    border-width: 2px;
    border: 2px solid #1b1b1b;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.test-grid h4 {
    font-size: 1.2em;
    color: #ffb500;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 1em 0 0.2em;
}

.test-grid p {
    font-size: 14px;
    line-height: 2em;
    letter-spacing: 1px;
    margin: 0 auto 1em;
    width: 78%;
}

.test-grid span {
    font-size: 0.9em;
    color: #484747;
    letter-spacing: 4px;
}

.wthree_head_section.test h3 {
    color: #111;
}

.test-grid1 {
    margin: 0 auto 2em;
    text-align: center;
    width: 20%;
}

.test-grid {
    text-align: center;
}

.test-grid2 {
    float: left;
}

.test-grid2_text {
    float: left;
    margin-left: 1em;
    text-align: left;
}


/*-- video --*/

.video-grid-single-page-agileits img {
    width: 100%;
}

#video {
    position: relative;
    background: #000;
    width: 100%;
    margin: 0px auto;
}

#video img,
#video iframe {
    display: block;
    width: 100%;
}

#play {
    position: absolute;
    top: 39%;
    left: 49%;
    width: 86px;
    height: 86px;
    cursor: pointer;
    background: url(../images/play-button.png) no-repeat 4px 4px;
    background-size: auto, cover;
    z-index: 9;
    border: 7px solid rgba(255, 255, 255, 0.36);
    border-radius: 50%;
}

.video_agile_player {
    padding: 0;
}


/*-- icons --*/

.grid_3.grid_4.w3_agileits_icons_page {
    margin: 0;
}

ul.bs-glyphicons-list li:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}

ul.bs-glyphicons-list li:hover span {
    color: #fff;
}

.codes a {
    color: #555;
}

.row.fontawesome-icon-list {
    margin: 0;
}

.icon-box {
    padding: 8px 15px;
    background: rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
}

.icon-box:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}

.icon-box:hover i.fa {
    color: #fff !important;
}

.icon-box:hover a.agile-icon {
    color: #fff !important;
}

.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
}

.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #777;
}

.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}

h3.icon-subheading {
    font-size: 25px;
    color: #ffb500;
    margin: 30px 0 15px;
    font-weight: 400;
}

h3.agileits-icons-title {
    text-align: center;
    font-size: 35px;
    color: #000;
    font-weight: 300;
}

.icons a {
    color: #555;
}

.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}

.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background: rgba(149, 149, 149, 0.18);
    margin: 1%;
    cursor: pointer;
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #282a2b;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #777;
}

.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}

@media (max-width:1080px) {
    .icon-box {
        width: 33.33%;
    }
}

@media (max-width:991px) {
    h3.agileits-icons-title {
        font-size: 28px;
    }
    h3.icon-subheading {
        font-size: 22px;
    }
    .icon-box {
        width: 50%;
    }
}

@media (max-width:768px) {
    h3.agileits-icons-title {
        font-size: 28px;
    }
    h3.icon-subheading {
        font-size: 25px;
    }
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    .icon-box {
        margin: 0;
    }
}

@media (max-width: 640px) {
    .icon-box {
        float: left;
        width: 50%;
    }
    h3.icon-subheading {
        font-size: 22px;
    }
    .grid_3.grid_4.w3_agileits_icons_page {
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    .bs-glyphicons li {
        width: 31%;
    }
    h3.agileits-icons-title {
        font-size: 25px;
    }
    h3.icon-subheading {
        font-size: 19px;
    }
}

@media (max-width: 414px) {
    h3.agileits-icons-title {
        font-size: 23px;
    }
    h3.icon-subheading {
        font-size: 18px;
    }
    .bs-glyphicons li {
        width: 31.33%;
    }
}

@media (max-width: 384px) {
    .icon-box {
        float: none;
        width: 100%;
    }
}

@media (max-width: 375px) {
    .w3_agileits_icons_page {
        margin: 0 !important;
    }
}


/*-- //icons --*/


/*--Typography--*/

.well {
    font-weight: 300;
    font-size: 14px;
}

.list-group-item {
    font-weight: 300;
    font-size: 14px;
}

li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}

.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}

.show-grid [class^=col-] {
    background: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 2em;
    border: 10px solid #f0f0f0;
}

.show-grid [class*="col-"]:hover {
    background: #e0e0e0;
}

.grid_3 {
    margin-bottom: 2em;
}

.xs h3,
h3.m_1 {
    color: #000;
    font-size: 1.7em;
    font-weight: 300;
    margin-bottom: 1em;
}

.grid_3 p {
    color: #555;
    font-size: 0.85em;
    margin-bottom: 1em;
    font-weight: 300;
}

.grid_4 {
    background: none;
    margin-top: 50px;
}

.label {
    font-weight: 300 !important;
    border-radius: 4px;
}

.grid_5 {
    background: none;
    padding: 2em 0;
}

.grid_5 h3,
.grid_5 h2,
.grid_5 h1,
.grid_5 h4,
.grid_5 h5,
h3.hdg,
h3.bars {
    margin-bottom: 1em;
    color: #ffb500;
    font-weight: 400;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border-top: none !important;
}

.tab-content>.active {
    display: block;
    visibility: visible;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 0;
}

.badge-primary {
    background-color: #03a9f4;
}

.badge-success {
    background-color: #8bc34a;
}

.badge-warning {
    background-color: #ffc107;
}

.badge-danger {
    background-color: #e51c23;
}

.grid_3 p {
    line-height: 2em;
    color: #888;
    font-size: 0.9em;
    margin-bottom: 1em;
    font-weight: 300;
}

.bs-docs-example {
    margin: 1em 0;
}

section#tables p {
    margin-top: 1em;
}

.tab-container .tab-content {
    border-radius: 0 2px 2px 2px;
    border: 1px solid #e0e0e0;
    padding: 16px;
    background-color: #ffffff;
}

.table td,
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 15px!important;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    font-size: 0.9em;
    color: #555;
    border-top: none !important;
}

.tab-content>.active {
    display: block;
    visibility: visible;
}

.label {
    font-weight: 300 !important;
}

.label {
    padding: 4px 6px;
    border: none;
    text-shadow: none;
}

.alert {
    font-size: 0.85em;
}

h1.t-button,
h2.t-button,
h3.t-button,
h4.t-button,
h5.t-button {
    line-height: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

li.list-group-item1 {
    line-height: 2.5em;
}

.input-group {
    margin-bottom: 20px;
}

.in-gp-tl {
    padding: 0;
}

.in-gp-tb {
    padding-right: 0;
}

.list-group {
    margin-bottom: 48px;
}

ol {
    margin-bottom: 44px;
}

h2.typoh2 {
    margin: 0 0 10px;
}

@media (max-width:800px) {
    .grid_3.grid_5.w3ls,
    .grid_3.grid_5.w3l,
    .grid_3.grid_5.agileits,
    .grid_3.grid_5.agileinfo,
    .grid_3.grid_5.wthree {
        margin: 0;
    }
}

@media (max-width:768px) {
    .grid_5 {
        padding: 0 0 1em;
    }
    .grid_3 {
        margin-bottom: 0em;
    }
    .grid_3.grid_5.w3l {
        margin-top: 1.5em;
    }
}

@media (max-width:640px) {
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .grid_5 h3,
    .grid_5 h2,
    .grid_5 h1,
    .grid_5 h4,
    .grid_5 h5,
    h3.hdg,
    h3.bars {
        margin-bottom: .5em;
    }
    ol.breadcrumb li,
    .grid_3 p,
    ul.list-group li,
    li.list-group-item1 {
        font-size: 14px;
    }
    .breadcrumb {
        margin-bottom: 25px;
    }
    .well {
        font-size: 14px;
        margin-bottom: 10px;
    }
    h2.typoh2 {
        font-size: 1.5em;
    }
    .label {
        font-size: 60%;
    }
    .in-gp-tl {
        padding: 0 1em;
    }
    .in-gp-tb {
        padding-right: 1em;
    }
    .list-group {
        margin-bottom: 20px;
    }
}

@media (max-width:480px) {
    .grid_5 h3,
    .grid_5 h2,
    .grid_5 h1,
    .grid_5 h4,
    .grid_5 h5,
    h3.hdg,
    h3.bars {
        font-size: 1.2em;
    }
    .table h1 {
        font-size: 26px;
    }
    .table h2 {
        font-size: 23px;
    }
    .table h3 {
        font-size: 20px;
    }
    .label {
        font-size: 53%;
    }
    .alert,
    p {
        font-size: 14px;
    }
    .pagination {
        margin: 20px 0 0px;
    }
    .grid_3.grid_4.w3layouts {
        margin-top: 0;
    }
}

@media (max-width: 320px) {
    .grid_4 {
        margin-top: 18px;
    }
    h3.title {
        font-size: 1.6em;
    }
    .alert,
    p,
    ol.breadcrumb li,
    .grid_3 p,
    .well,
    ul.list-group li,
    li.list-group-item1,
    a.list-group-item {
        font-size: 13px;
    }
    .alert {
        padding: 10px;
        margin-bottom: 10px;
    }
    ul.pagination li a {
        font-size: 14px;
        padding: 5px 11px;
    }
    .list-group {
        margin-bottom: 10px;
    }
    .well {
        padding: 10px;
    }
    .nav>li>a {
        font-size: 14px;
    }
    table.table.table-striped,
    .table-bordered,
    .bs-docs-example {
        display: none;
    }
}


/*-- //typography --*/


/*-- footer --*/

.footer {
    background: #0b0c11;
}

.f-bg-w3l {
    background: rgba(0, 0, 0, 0.58);
    padding: 7em 0 7em 0;
}

.w3layouts_footer_grid h2 {
    font-size: 1.4em;
    color: #fff;
    position: relative;
    margin-bottom: 1em;
    letter-spacing: 4px;
}

.w3layouts_footer_grid h2 span {
    color: #ffb500;
}

.social_agileinfo li {
    display: inline-block;
}

.social_agileinfo li a {
    width: 40px;
    height: 40px;
    display: block;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
}

.social_agileinfo li a i {
    font-size: 1em;
    line-height: 2.8em;
}

.w3_facebook:hover {
    border: 1px solid #3b5998;
    background: #3b5998;
}

.w3_twitter:hover {
    border: 1px solid #1da1f2;
    background: #1da1f2;
}

.w3_instagram:hover {
    border: 1px solid #833ab4;
    background: #833ab4;
}

.w3_google:hover {
    border: 1px solid #dd4b39;
    background: #dd4b39;
}

.w3l_footer_nav {
    margin: 3em 0 3em;
}

.w3l_footer_nav li {
    display: inline-block;
    margin-right: 4em;
}

.w3l_footer_nav li a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}

.w3l_footer_nav li a:hover,
.w3l_footer_nav li a.active {
    color: #ffb500;
}

.w3layouts_footer_grid p {
    color: #fff;
    line-height: 1.8em;
    letter-spacing: 2px;
}

.w3layouts_footer_grid p a {
    color: #fff;
    text-decoration: underline;
}

.w3layouts_footer_grid p a:hover {
    color: #ffb500;
}

.w3layouts_footer_grid form {
    border: 1px solid #fff;
    width: 70%;
}

.w3layouts_footer_grid input[type="email"] {
    outline: none;
    padding: 15px 15px;
    color: #fff;
    font-size: 14px;
    width: 88%;
    border: none;
    background: rgba(0, 0, 0, 0.22);
    letter-spacing: 2px;
}

button.btn1 {
    color: #fff;
    border: none;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    background: #ffb500;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    float: right;
    width: 12%;
}


/*-- //footer --*/


/*--social icons--*/

.agile_inner {
    background: url(../images/banner2.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 261px;
}

.services-breadcrumb {
    padding: 1em 0;
    background: #f5f5f5;
    text-align: center;
}

.services-breadcrumb ul li span {
    padding: 0 1.5em;
}

ul.w3_short {
    text-align: left;
}

.agile_inner_breadcrumb {
    padding: 0 4em;
}

ul.w3_short li a {
    color: #ffb500;
    text-decoration: none;
}

.banner_bottom_w3ls_info {
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

.medile_agile_its_section {
    text-align: center;
    background: #0b0c11;
    padding: 4em 0;
}

.banner_bottom_w3ls_info p {
    margin: 2em 0;
    line-height: 2em;
}

ul.w3_short li {
    display: inline-block;
    text-transform: uppercase;
    color: #030408;
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: 2px;
}

.medile_agile_its_blue h4 {
    text-align: center;
    color: #fff;
    font-size: 2em;
    font-weight: 300;
    margin: 0em auto;
    letter-spacing: 2px;
    padding-top: 15px;
}

.banner-bottom.service_agile {
    background: #f4f4f4;
}


/*--responsive--*/

@media(max-width:1440px) {
    .agile_banner_text_info h3 {
        font-size: 7.5em;
        letter-spacing: 4px;
    }
}

@media(max-width:1366px) {
    .agile_banner_text_info h3 {
        font-size: 7em;
    }
    h3.agile_tittle {
        font-size: 2.5em;
    }
    .wthree_head_section h2 {
        font-size: 3em;
    }
    .services,
    .team,
    .contact-w3layouts,
    .agile_testimonials {
        padding: 5em 0;
    }
    .agile_wthree_inner_grids {
        margin-top: 3em;
    }
    .w3layouts_stats_left p {
        font-size: 3em;
    }
    .w3layouts_stats_left i {
        font-size: 2.3em;
    }
}

@media(max-width:1280px) {
    #welcome {
        padding: 4em 0;
    }
}

@media(max-width:1080px) {
    .agile_banner_text_info h3 {
        font-size: 6em;
    }
    .agile_banner_text_info {
        top: 29%;
        left: 24%;
    }
    .bar-grids.w3-agile {
        padding: 4em 4em;
    }
    .wthree_skills {
        margin-top: 3em;
    }
    .skills {
        min-height: 620px;
    }
    .bar-grids h6 {
        font-size: 0.9em;
    }
    .test-grid h4 {
        font-size: 1.15em;
    }
    .contact-form.agile_inner_grids {
        padding: 3em 3em;
    }
    .contact_img_agile {
        min-height: 720px;
    }
    .wthree_head_section h2 {
        font-size: 2.5em;
    }
    .services,
    .team,
    .contact-w3layouts,
    .agile_testimonials,
    .banner-bottom,
    .f-bg-w3l {
        padding: 4em 0;
    }
    .agile_banner_text_info label,
    .agile_banner_text_info h3 span {
        font-size: 13px;
    }
    .wthree_banner_bottom_grid_right h4 {
        font-size: 1.2em;
    }
    .w3l_header {
        font-size: 2.7em;
    }
    .about h4 {
        font-size: 1.6em;
    }
    .test-grid p {
        font-size: 14px;
        line-height: 2em;
        letter-spacing: 1px;
        margin: 0 auto 1em;
        width: 98%;
    }
    #play {
        position: absolute;
        top: 31%;
        left: 45%;
    }
    .nav>li {
        margin: 0em 0.4em;
    }
    #portfolio {
        padding-top: 4em;
    }
}

@media(max-width:1050px) {
    .agile_banner_text_info h3 {
        font-size: 5.5em;
    }
    .agile_banner_text_info h1 span {
        letter-spacing: 2px;
        font-size: 14px;
    }
    .skills {
        min-height: 549px;
    }
    .test-grid1 {
        width: 28%;
    }
}

@media(max-width:991px) {
    .w3-agileits-services-right {
        padding: 0;
        margin-top: 2em;
    }
    .portfolio-grids {
        padding: 0;
        float: left;
    }
    .test-grid2 {
        padding: 0;
        margin-bottom: 3em;
    }
    .portfolio-grids {
        padding: 0;
        float: left;
        width: 50%;
    }
    .portfolio-grid_left {
        padding: 0;
        float: left;
        width: 50%;
    }
    .skills,
    .contact_img_agile {
        min-height: 450px;
    }
    .w3l_footer h2 a {
        letter-spacing: 1.5px;
        font-size: 1em;
    }
    .botttom-nav-agileits {
        padding: 0;
    }
    .arrow-container {
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 52%;
    }
    .about_agileinfo_grid_imgs {
        padding: 0;
        margin-top: 2em;
    }
    .w3layouts_stats_left {
        text-align: center;
        float: left;
        width: 25%;
        padding: 0;
    }
    .agile_banner_text_info h3 span {
        letter-spacing: 2px;
        font-size: 13px;
    }
    .w3layouts_footer_grid {
        margin-top: 1em;
    }
    .agileits_banner_bottom_left:nth-child(2) {
        margin: 1em 0;
    }
    .test-grid1 {
        width: 31%;
    }
    .w3layouts_stats_left p {
        font-size: 2.5em;
    }
    .agileits_w3layouts_banner_nav {
        margin: 0 auto;
        width: 95%;
    }
    .wthree_banner_bottom_grid_right h4 {
        font-size: 1.4em;
    }
    .agile_inner {
        min-height: 200px;
    }
    .banner_bottom_w3ls_info {
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }
}

@media(max-width:900px) {}

@media(max-width:800px) {
    .agile_banner_text_info h3 {
        font-size: 4.5em;
    }
    .agile_banner_text_info {
        top: 26%;
        left: 24%;
    }
    .navbar-nav>li>a {
        padding: 10px 16px;
        font-size: 1em;
    }
    .nav>li {
        margin: 0em 0.3em;
    }
}

@media(max-width:768px) {
    .skills,
    .contact_img_agile {
        min-height: 400px;
    }
}

@media(max-width:767px) {
    .agile_banner_text_info h3 {
        font-size: 4em;
    }
    .agile_banner_text_info {
        top: 21%;
        left: 22%;
    }
    .mobile-nav-button {
        margin: 1.5em 0em 0;
        right: 3%;
    }
    .services-right-grids:nth-child(2) {
        margin: 0em 0;
    }
    .services-right-grid {
        margin-bottom: 1em;
        padding: 0;
    }
    .w3-agileits-services-left {
        min-height: 345px;
    }
    .navbar-brand {
        font-size: .8em;
    }
    .navbar-toggle {
        margin: 0em 0 0;
        padding: 12px 10px;
    }
    .navbar-default .navbar-toggle {
        border: none;
        background: #0b0c11;
        border-radius: 0;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        position: absolute;
        width: 100%;
        z-index: 9999;
        background: #ffffff;
        padding: 0em 0;
        margin-top: 1em;
    }
    .navbar-collapse.in {
        overflow-y: inherit;
    }
    .w3_agileits_search {
        width: 45%;
        float: none;
        margin: 0 auto;
    }
    .w3_agileits_search input[type="submit"] {
        width: 7%;
        background-position: 0px 5px;
    }
    .w3_agileits_search input[type="search"] {
        width: 91%;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background: #ffb500;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .agileits_w3layouts_banner_nav {
        padding: 0.5em 1em;
    }
    .navbar-right {
        width: 100%;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border: none;
    }
    .navbar-nav {
        margin: 0;
        text-align: center;
    }
    .navbar-nav>li>a {
        padding: 10px 25px;
        letter-spacing: 1px;
        font-size: 1.1em;
        display: inline-block;
    }
    .navbar-nav .open .dropdown-menu {
        background-color: #292929;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
        padding: 7px 0;
    }
    .w3layouts-banner-top,
    .w3layouts-banner-top1,
    .w3layouts-banner-top2 {
        min-height: 450px;
    }
    .agileits-banner-info p {
        font-size: 0.9em;
        letter-spacing: 9px;
    }
    .agileits-banner-info {
        padding: 10em 0 0em;
    }
    .banner-bottom h2 {
        font-size: 1.5em;
    }
    .w3-agile-post-img a ul {
        padding: 7em 1em 0 2em;
    }
    .w3-agile-post-img a {
        min-height: 350px;
    }
    .w3-agile-post-img a ul li {
        font-size: 0.8em;
        padding: .5em 0em;
        width: 17%;
    }
    .w3-agile-post-info ul li:nth-child(2) {
        margin: 0 0 0 35em;
    }
    ul.nav.navbar-nav {
        margin: 0em 0 0em 0;
    }
    nav.navbar.navbar-default {
        background: none;
        padding: 1em 0 0.2em 0;
    }
    ul.agile_forms {
        margin-bottom: 1em;
    }
    .agileits_w3layouts_event_grid1 h5 a {
        font-size: 1.2em;
        letter-spacing: 2px;
    }
    .agile_short_dropdown li a {
        border-bottom: 1px solid #171616;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #ffb500;
    }
    .nav>li {
        margin: 0.7em 0em;
    }
    .agile_banner_text_info {
        top: 32%;
        left: 22%;
    }
    .w3layouts_stats_left h3 {
        font-size: 1em;
        letter-spacing: 1px;
    }
    .bar-grids.w3-agile {
        padding: 4em 2em;
    }
    #play {
        position: absolute;
        top: 25%;
        left: 45%;
    }
    .contact-form.agile_inner_grids {
        padding: 3em 2em;
    }
    .skills,
    .contact_img_agile {
        min-height: 364px;
    }
}

@media(max-width:736px) {
    .w3layouts_stats_left h3 {
        font-size: 0.9em;
        letter-spacing: 2px;
    }
    .w3l_footer_nav li {
        margin-right: 2em;
    }
}

@media(max-width:667px) {
    h3.agile_tittle span {
        letter-spacing: 2px;
        display: block;
        font-size: 15px;
    }
    .about h4 {
        font-size: 1.8em;
    }
    .wthree_head_section h2 {
        font-size: 2.3em;
    }
    h3.agile_tittle {
        font-size: 2em;
    }
    .about h4 {
        font-size: 1.6em;
    }
    .botttom-nav-agileits ul.nav-w3ls li {
        margin: 0px 10px;
    }
    p.agileits_w3ls_copyright {
        letter-spacing: 1px;
    }
    .services,
    .team,
    .contact-w3layouts,
    .agile_testimonials,
    .banner-bottom,
    .f-bg-w3l {
        padding: 3em 0;
    }
    .test-grid1 {
        width: 35%;
    }
    #portfolio {
        padding-top: 3em;
    }
    .agile_wthree_inner_grids {
        margin-top: 2em;
    }
    #welcome {
        padding: 3em 0;
    }
    .medile_agile_its_blue h4 {
        font-size: 1.4em;
    }
    .medile_agile_its_section {
        padding: 2em 0;
    }
}

@media(max-width:640px) {
    .agile_banner_text_info h3 {
        font-size: 3.8em;
    }
    .agile_banner_text_info h3 {
        font-size: 3.5em;
    }
    .skills,
    .contact_img_agile {
        min-height: 311px;
    }
    .bar-grids.w3-agile {
        padding: 3em 1em;
    }
    .services,
    .team,
    .contact-w3layouts,
    .agile_testimonials,
    .banner-bottom,
    .f-bg-w3l {
        padding: 3em 0;
    }
    .contact-form.agile_inner_grids {
        padding: 2em 1em;
    }
    ul.nav-w3ls {
        float: none;
        margin-top: 1em;
        text-align: center;
    }
    .w3l-social {
        float: none;
        margin-top: 1em;
        text-align: center;
    }
    #play {
        position: absolute;
        top: 25%;
        left: 45%;
        background-size: 86%;
        width: 72px;
        height: 72px;
    }
}

@media(max-width:600px) {
    .agile_banner_text_info h3 {
        font-size: 3.5em;
    }
    .agile_wthree_inner_grids {
        margin-top: 2em;
    }
    .stats {
        padding: 3em 0 2em 0;
    }
    .test-grid1 {
        width: 40%;
    }
    .w3layouts_footer_grid form {
        width: 100%;
        margin-top: 2em;
    }
    .services-breadcrumb {
       padding: 0.5em 0;
    }
}

@media(max-width:568px) {
    .w3layouts_stats_left {
        float: left;
        width: 50%;
        padding: 0;
        margin-bottom: 2em;
    }
    p.agileits_w3ls_copyright {
        letter-spacing: 1px;
        line-height: 1.9em;
    }
    .test-grid1 {
        margin: 0 auto 0em;
        margin: 0 auto 0em;
    }
    .w3l_header {
        font-size: 2.5em;
    }
    .agileits-button.two a,
    .agileits-button a {
        font-size: 0.9em;
        margin-top: 1em;
    }
}

@media(max-width:480px) {
    .wthree_head_section h2 {
        font-size: 2.1em;
        line-height: 1.4em;
    }
    .skills,
    .contact_img_agile {
        min-height: 227px;
    }
    .w3-agileits-services-left {
        min-height: 288px;
    }
    .about h4 {
        font-size: 1.4em;
    }
    .agile_banner_text_info h3 {
        font-size: 2.9em;
    }
    .test-grid1 {
        width: 51%;
    }
    .w3layouts_footer_grid {
        margin-top: 1em;
        padding: 0;
    }
    .w3l_footer_nav li a {
        letter-spacing: 1px;
        font-size: 0.9em;
    }
    .w3l_footer_nav li {
        margin-right: 1em;
    }
    .w3layouts_footer_grid p {
        letter-spacing: 1px;
        font-size: 0.9em;
    }
    .agile_inner {
        min-height: 177px;
    }
    .banner_bottom_w3ls_info {
        margin: 0 auto;
        width: 97%;
    }
    #play {
        position: absolute;
        top: 25%;
        left: 45%;
        background-size: 81%;
        width: 55px;
        height: 55px;
    }
    .w3l_header {
        font-size: 2.2em;
    }
    .map iframe {
        width: 100%;
        min-height: 250px;
    }
}

@media(max-width:440px) {
    .agile_banner_text_info h3 {
        font-size: 2.7em;
    }
    .skills,
    .contact_img_agile {
        min-height: 152px;
    }
    .services,
    .team,
    .contact-w3layouts,
    .agile_testimonials,
    .banner-bottom,
    .f-bg-w3l {
        padding: 2em 0;
    }
    #welcome {
        padding: 2em 0;
    }
    .test-grid1 {
        width: 56%;
    }
    .wthree_banner_bottom_grid_right h4 {
        font-size: 1.3em;
    }
    .about h4 {
        font-size: 1.2em;
    }
}

@media(max-width:414px) {
    h3.agile_tittle {
        font-size: 1.8em;
    }
    .wthree_head_section h2 {
        font-size: 1.8em;
        line-height: 1.4em;
    }
    .botttom-nav-agileits ul.nav-w3ls li {
        margin: 0px 3px;
    }
    .wthree_skills {
        margin-top: 2em;
    }
    .w3l_footer h2 a {
        letter-spacing: 1.5px;
        font-size: 0.8em;
    }
    about h4 {
        font-size: 1.2em;
    }
    .test-grid1 {
        width: 59%;
    }
    #play {
        position: absolute;
        top: 22%;
        left: 45%;
        background-size: 81%;
        width: 55px;
        height: 55px;
    }
    .agile_banner_text_info label,
    .agile_banner_text_info h3 span {
        font-size: 11px;
    }
    .agile_inner {
        min-height: 157px;
    }
}

@media(max-width:384px) {
    .agile_banner_text_info h3 {
        font-size: 2.3em;
    }
    .agile_banner_text_info {
        top: 28%;
        left: 23%;
    }
    .wthree_head_section h2 {
        font-size: 1.7em;
        line-height: 1.4em;
    }
    h3.agile_tittle {
        font-size: 1.7em;
    }
    .w3layouts_stats_left p {
        font-size: 2em;
    }
    .mobile-nav-button {
        margin: 0.5em 0em 0;
        right: 2%;
    }
    .agile_inner {
        min-height: 122px;
    }
    .agileits-button.two a,
    .agileits-button a {
        font-size: 0.85em;
        margin-top: 1em;
    }
    .w3l_header {
        font-size: 2em;
    }
    .agileits_banner_bottom_left {
        padding: 0;
    }
    .w3l_footer_nav li {
        margin-right: 0.3em;
    }
    a.navbar-brand {
        padding: 0;
        font-size: 0.9em;
    }
    .agileits_w3layouts_banner_nav {
        padding: 0em 1em;
        width: 100%;
    }
    .stats {
        padding: 2.5em 0 0.5em 0;
    }
    .w3layouts_stats_left h3 {
        font-size: 0.9em;
        letter-spacing: 1px;
    }
}

@media(max-width:375px) {
    .w3_agile_team_grid_info:nth-child(2) {
        margin: 7% auto;
    }
    .wthree_head_section h2 {
        font-size: 1.4em;
        line-height: 1.4em;
    }
    .w3layouts_stats_left i {
        font-size: 1.5em;
    }
    .agile_wthree_inner_grids {
        margin-top: 1.5em;
    }
    .test-grid1 {
        width: 67%;
    }
    #play {
        position: absolute;
        top: 17%;
        left: 41%;
        background-size: 81%;
        width: 55px;
        height: 55px;
    }
    .event-left1-right p {
        line-height: 2em;
        margin: 1em 0 0;
    }
    .test-grid h4 {
        font-size: 1em;
    }
    .test-grid span {
        font-size: 0.8em;
        letter-spacing: 2px;
    }
}

@media(max-width:320px) {
    .agile_banner_text_info h3 {
        font-size: 1.9em;
    }
    .agile_banner_text_info label {
        letter-spacing: 2px;
    }
    .agile_banner_text_info {
        top: 25%;
        left: 23%;
    }
    .w3l_header {
        font-size: 1.8em;
        line-height: 1.5em;
    }
    .test-grid2 {
        padding: 0;
        margin-bottom: 1em;
    }
    .test-grid1 {
        width: 92%;
    }
    #play {
        position: absolute;
        top: 17%;
        left: 41%;
        background-size: 81%;
        width: 50px;
        height: 50px;
        border: 2px solid rgba(255, 255, 255, 0.36);
    }
    .wthree_banner_bottom_grid_right h4 {
        font-size: 1.2em;
    }
    .agile_banner_bottom_grid_left_grid {
        width: 50px;
        height: 50px;
    }
    .agile_banner_bottom_grid_left_grid i {
       font-size: 1.7em;
    }
}


/*--//responsive--*/
