*{
	margin:0;	
	padding:0;
	list-style:none;
	text-decoration:none;
}
html,body{
	color: #3C3C3C;
   -webkit-font-smoothing: antialiased;
   background-color: #f4f4f4;
   overflow-x:hidden;/*超出部分隐藏（X轴横向滚动条会消失）*/
	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
body, button, input, select, textarea {
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.wrapper{
	width:100%;
	height:100%;
}
/*usr login info 导航条*/
.wrapper .cover_J_Cover{
	width:100%;
	height:36px;
/*   background-color: yellow;*/
	background-color:#eee;
}

.wrapper .cover_J_Cover a.login{
   color: #f40;
}
.wrapper .cover_J_Cover .c-span{
	padding:0 6px;

}
.wrapper .cover_J_Cover .bg-pic{
	display:inline-block;/*将背景图片封入固定宽高的block*/
	width:10px;
	height:10px;
	background-size:100% 100%;
	vertical-align:middle;
	background-image:url("./picture/shopcar.png");
	background-size:100% 100%;
	width:20px;
	height:20px;
}
.wrapper .cover_J_Cover .bg-pic.like-pic{
	background-image:url("./picture/star.png");
	background-size:100% 100%;
	width:12px;
	height:16px;
}
.wrapper .cover_J_Cover .cut-off span{
	line-height:35px;
	color:#eee;
}
.wrapper .cover_J_Cover .cover_j_l{
	float:left;/*向左浮动*/
}
.wrapper .cover_J_Cover .cover_j_r{
	float:right;
}
.wrapper .cover_J_Cover ul li{
	float:left;
	margin-right:7px;
}

.wrapper .cover_J_Cover a{
	color:black;/*#6c6c6c;*/
	font-size:12px;
	line-height:36px;
}
.wrapper .cover_J_Cover a:hover{
	color:red;
}
.wrapper .cover_J_Cover span{
	color:black;/*#6c6c6c;*/
	font-size:12px;
	line-height:36px;
}
.wrapper .cover_J_Cover span:hover{
	color:red;
}

/*taobao main logo and search bar*/
.wrapper .top_main{
	width:100%;
	height:100px;
	padding-top:1px;
	/*border:10px solid #000;*/
	background-color:#fff;
}
.wrapper .top_main .search_con{
	position:relative;
	width:1190px;
	height:95px;
	margin:0 auto;
/*	border:1px solid #000;*/
}
.wrapper .top_main .search_con .logo_box{
	position:relative;
	top:+10px;
	left:+10px;
	display:inline-block;
	width:150px;
	height:70px;
	/*border:1px solid #000;*/
    background-image:url("./picture/index.png");
	background-size:100% 100%;
}
.wrapper .top_main .search_con .search_box{
	position:relative;
	top:+5px;
	display:inline-block;
	width:627px;
	height:82px;
	/*border:1px solid #000;*/
	vertical-align:top;
	margin-left:30px;
}
.wrapper .top_main .search_con .search_box .search_t{
	width:627px;
	height:60px;
/*	border:1px solid #000;*/
}
.wrapper .top_main .search_con .search_box .search_t .search_tab{
	height:22px;
	margin-left:17px;
}
.wrapper .top_main .search_con .search_box .search_t .search_tab ul li{
    float: left;
	width:36px;
	height:22px;
	color:#f40;
	font-size:12px;
	line-height:22px;
	text-align:center;
	margin-right:4px;
	border-top-right-radius:7px;
	border-top-left-radius:7px;
	cursor:pointer;
}
.wrapper .top_main .search_con .search_box .search_t .search_tab ul li:hover{
	background-color:#ffeee5;
	color:#ff5400;
}
.wrapper .top_main .search_con .search_box .search_t .search_tab ul li.select{
	color:#fff;
	font-weight:700;
	background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
}
.wrapper .top_main .search_con .search_box .search_t .search_panel{
	width:627px;
	height:40px;
	/*border:1px solid #000;*/
	position:relative;
}
.wrapper .top_main .search_con .search_box .search_panel form{
}
.wrapper .top_main .search_con .search_box .search_panel form .btn{
	width:74px;
	height:40px;
/*	border:1px solid #000;*/
	position:absolute;
	top:0px;
	right:0px;
	border-top-right-radius:21px;
	border-bottom-right-radius:21px;
	overflow:hidden;
}
.wrapper .top_main .search_con .search_box .search_panel .btn button{
	border:none;
	width:100%;
	height:100%;
	background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
	font-weight: 700;
	font-size: 18px;
	color: #FFF;
	cursor:pointer;
}
.wrapper .top_main .search_con .search_box .search_panel .search_inp_box{
	height:36px;
	width:550px;
	border:2px solid #ff5000;
	border-top-left-radius:21px;
	border-bottom-left-radius:21px;
	overflow:hidden;
}
.wrapper .top_main .search_con .search_box .search_panel .search_inp{
	height:36px;
	width:520px;
	overflow:hidden;
}
.wrapper .top_main .search_box .search_panel .search_inp input{
	/*float:right;*/
	width:520px;
	height:28px;
	border:none;
	overflow:hidden;
	padding:6px 16px;
	outline:0;
	text-indent:30px;
}
.wrapper .top_main .search_box .search_panel .sousuo{
	display:inline-block;/*将背景图片封入固定宽高的block*/
	position:absolute;
	width:20px;
	height:21px;
	top:11px;
	left:14px;
	background-image:url("./picture/sousuo.png");
}
.wrapper .top_main .search_box .search_panel .camera{
	display:inline-block;/*将背景图片封入固定宽高的block*/
	position:absolute;
	width:28px;
	height:21px;
	top:9px;
	right:95px;
	cursor:pointer;
	background-image:url("./picture/camera.png");
}
.wrapper .top_main .search_con .search_box .search_bl{
	height:20px;
	width:627px;
	/*border:1px solid red;*/
}
.wrapper .top_main .search_con .search_box .search_bl a{
	font-size:12px;
	margin-right:8px;
	color:#666;
	position:relative;
	top:+4px;
	left:+10px;
}
.wrapper .top_main .search_con .search_box .search_bl a.active,
.wrapper .top_main .search_con .search_box .search_bl a:hover{
	color:#ff5000;
	cursor:pointer;
}
.wrapper .top_main .search_con .code_box{
	position:relative;
	top:+5px;
	display:inline-block;
	width:76px;
	height:80px;
/*	border:1px solid #000;*/
	vertical-align:top;
	margin-left:30px;
}
.wrapper .top_main .search_con .code_box .phone{
	color:#ff5000;
	font-size:14px;
	line-height:20px;
}
.wrapper .top_main .search_con .code_box .code{
	background:url("./picture/phone_code.png") no-repeat;
	/*a标签必加display:xxx，否则无法装图片*/
	display:inline-block;
	background-size:100% 100%;
	width:62px;
	height:62px;
	margin:0 auto;/*居中*/
}
.wrapper .top_main .search_con .code_box .close{
	position:absolute;
	display:inline-block;
	top:0;
	left:-18px;
	border:1px solid #eee;
	font-size:14px;
	width:16px;
	height:16px;
	text-align:center;
	line-height:16px;
}

/*市场导航条   主题市场*/
.wrapper .screen_nav{
	width:900px;
	height:30px;
   background-color: red;
   margin:0 auto;
	background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
}
/*市场导航条   主题市场: 中央区总体*/
.wrapper .screen_nav .screen_nav_con{
	width:100%;
	height: 30px;
	line-height: 30px;
	position: relative;
	color: #fff;
   margin:0 auto;
}
.screen_nav .screen_nav_con h2{
    float: left;
    margin-left: 0px;
    position: relative;
	color:#fff;
	font-size:16px;
	width:120px;
	height:100%;
	background-color:#ff5000;
	text-align:center;
	line-height:30px;
}
.screen_nav .screen_nav_con ul {
    float: left;
    margin-left: 7px;
    position: relative;
	font-size:16px;
	height:30px;
}
.screen_nav .screen_nav_con ul li {
    float: left;
	margin:0 3px;
	padding:0 4px;
    position: relative;
}
.screen_nav .screen_nav_con ul li:hover::before{
	content: "";
	display:block;
	width:25px;
	height:11px;
	background-image:url("./picture/ali.png");
	background-size:center;
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -15px;
	font-size: 12px;
}
.screen_nav .screen_nav_con ul li a{
	line-height:30px;
	color:#fff;
	font-weight:700;
	font-size:15px;
}
.screen_nav .screen_nav_con .nav-hd{
    float: left;
    font-size: 16px;
    font-weight: 700;
	position: relative;
	z-index: 5;
	list-style: none;
}
.screen_nav .screen_nav_con .nav-bd {
    float: left;
    font-size: 14px;
	position: relative;
	z-index: 5;
   margin-left:7 auto;
	padding: 0;
	list-style: none;
}
.screen_nav .screen_nav_con .nav-bd_last {
    float: left;
    *display: none;
    font-size: 14px;
	position: relative;
	z-index: 5;
	margin: 0;
	padding: 0;
	list-style: none;
}
/*main ad area*/
.wrapper .screen_box{
	width:900px;
	height:1000px;
   background-color: #eee;
   margin:0 auto;
}

.wrapper .screen_box .main{
	width:68%;
	height:632px;
	border:1px solid #000;
	float:left;/*向左浮动*/
}
.wrapper .screen_box .main .main_inner{
	width:99%;
	height:520px;
	border:1px solid #000;
	float:left;/*向左浮动*/
	background-size:100% 100%;
}
.wrapper .screen_box .main .main_bottom{
	width:99%;
	height:110px;
	border:1px solid red;
	background-size:100% 100%;
	float:left;/*向左浮动*/
}
.wrapper .screen_box .col_right{
	width:31%;
	height:632px;
	border:1px solid #000;
	float:left;/*向左浮动*/
}

